@import "bootstrap";

body {
    background-color: #FDFFFC;
    color: #235789 !important;
}

.navbar-brand {
    font-family: 'Monoton', cursive;
    font-size: 3rem;
}
.navbar {
    margin-bottom: 60px;
    background-color: #92DCE5 !important;
}

.navbar-left {
    padding-right: 1.5rem;
}

section {
    margin-top: 60px;
    margin-bottom: 60px;
}

.title {
    font-family: 'Monoton', cursive;
}