@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Spartan&display=swap');

body {
    background-color: #FAF3DD !important;
    color: #2F3061;
}

.navbar-brand {
    width: 30px;
}
.navbar {
    margin-bottom: 30px;
    background-color: #92DCE5 !important;
}
    
    .btn-custom {
        border-radius: 0;
        outline-color: #F52F57 !important;
        background-color: none;
        color: #F52F57;
}


.navbar-left {
    padding-right: 1.5rem;
}

section {
    margin-top: 60px;
    margin-bottom: 60px;
}

.title {
    font-family: 'Lobster&family', arial;
}


    

.logo {
    width: 60px;
    height: 60px;
}
