<% if (!@search.blank?) %>
<%= search_form_for @search do |f| %>
    <div class="field">
        <%= f.label :title_cont, "What are you looking for?" %>
        <%= f.text_field :title_cont %>
    
    <div class="actions"><%= f.submit "Search" %></div>
    </div>
    <% end %>
<% end %>

